.page-container {
  display: inline-block;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  width: calc(100% - 196px);

  background-size:cover;
}

.page-container .header {
  display: flex;
  margin-bottom: 36px;

  font-size: 36px;
  color: #fff;
}