#hands-container-0 {
  /* position: fixed;
  left: calc(0.5*(100vw - 196px) + 196px);
  top: 80%; */
  position: absolute;
  left: 400px;
}

#hands-container-1 {
  position: absolute;
  left: 1350px;
}

#hands-container-2 {
  position: absolute;
  left: 400px;
  top: 450px;
}

#hands-container-3 {
  position: absolute;
  left: 1350px;
  top: 450px;
}