#hands-container-0 {
  position: fixed;
  left: calc(0.5*(100vw - 196px) + 196px);
  top: 80%;
}

#hands-container-1 {
  position: relative;
  left: 1100px;
}

#hands-container-2 {
  position: relative;
  left: 150px;
  top: 300px;
}

#hands-container-3 {
  position: relative;
  left: 1100px;
  top: 300px;
}