#bridge-game-container {
  width: 100%;
}

#bridge-game-header {
  display: flex;
  align-items: center;
  justify-content: center;

  max-height: 120px;
  background-color: #906e5f;
  text-align: center;
}

#bridge-game-title {
  text-align: center;
  background-color: #623a28;
  width: 400px;
  padding: 48px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  color: white;
  font-family: "CS Gordon";
  font-size: 50px;
  user-select: none;
}

#bridge-game-header button {
  position: relative;
  border-radius: 36px;
  padding: 0 24px 0 24px;
  height: 72px;
  font-family: "CS Gordon";
  font-size: 20px;
  border: none;
  cursor: pointer;
}

#bridge-game-header button:hover {
  background-color: #623a28;
  color: white;
  transition: 0.3s ease;
}

#prompt-container {
  text-align: center;
  margin-top: 15%;
  height: 120px;

  font-family: "CS Gordon";
  font-size: 25px;
  color: white;
}

#prompt-input {
  height: 60px;
  width: 240px;
  border-radius: 30px;
  border: none;
  margin-left: 12px;
  margin-top: 24px;
  font-size: 25px;
  font-family: "CS Gordon";
  text-align: center;
}

#bridge-game-notif-bar {
  position: fixed;
  bottom: 0px;
  margin-left: 0px;

  padding: 12px;

  background-color: rgba(255,255,255,0.5);
  font-family: "Glacial Indifference";
  font-size: 20px;
}

#bridge-game-notif-bar:empty {
  display: none;
}

#bridge-playing-table {
  width: 100%;
}

.hands-container-1 {
  margin-top: 24px;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.hands-container-2 {
  position: absolute;
  margin-left: 24px;
}

.hands-container-3 {
  position: absolute;
  right: 24px;
}

.hands-container-0 {
  position: fixed;
  width: inherit;
  display: flex;
  justify-content: center;
  bottom: 0px;
}