.player-hands-container {
  position: absolute;
  margin-left: 24px;
  margin-top: -100px;
}

.player-info-container {
  position: relative;
  z-index: 100;
  width: fit-content;
  text-align: center;
}

.remote-player-icon {
  position: relative;
  height: 144px;
  width: 144px;
  border-radius: 50%;

  background-size:cover;
}

.player-game-status-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-top: -24px;
  height: 48px;
  padding: 0 24px 0 24px;
  width: fit-content;
  border-radius: 24px;
  background-color: #d8d0bf;
  font-family: "Glacial Indifference";
  font-size: 20px;
}

.player-actions-container {
  display: flex;
  text-align: right;

  background-color: #fff;
  border-radius: 12px;
  border: 1px solid black;

  z-index: 100;
}

.player-actions-container.active {
  background-color: #ffc;
}