#playing-table-container {
  position: absolute;
  margin-left: calc(0.4*(100vw - 696px) - 54px);
  margin-top: 200px;
  width: 500px;

  user-select: none;
}

#playing-table-notification-bar {
  display: block;
  height: 36px;
  width: 476px;
  padding: 0 12px 0 12px;

  text-align:center;

  font-size: 24px;
  color: #fff;
}

#input-game-code {
  height: 24px;
  border-radius: 12px;
  margin-left: 12px;
}

#enter-game-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}