.player-actions-container {
  position: absolute;
  top: 200px;
  width: 300px;
  padding: 12px;

  text-align: right;

  background-color: #fff;
  border-radius: 12px;
  border: 1px solid black;

  z-index: 200;
}

.player-actions-container.active {
  background-color: #ffc;
}

.player-container {
  position: absolute;
}

.player-game-status-container {
  position: relative;
  width: 200px;
  top: 48px;
  left: 96px;
  bottom: -25px;
  padding-right: 12px;
  border-top: 1px solid black;
  border-radius: 12px;
  background-color: lightgray;
}