#navigation-panel-container {
  display: inline-block;
  width: 196px;
  height: 100vh;

  background-color: #d7f4e6;
  transition: 0.2s ease-in;
}

#navigation-panel-container:hover {
  width: 240px;
  transition: 0.2s ease-in;
}

#display-picture {
  margin: 60px auto 96px auto;

  display: block;
  height: 150px;
  width: 150px;

  border-radius: 50%;
}