.navigation-menu-item button {
  display: flex;
  height: 48px;
  width: 48px;

  position: relative;
  z-index: 10000;

  background-color: #001340;
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  user-select: none;
}

.navigation-menu-item button:hover {
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s ease;
}

.navigation-menu-item .selected {
  background-color: #ffffff;
}